<header style="display: flex; flex-direction: column">
  <div>
    <img class="logo" src="../assets/Logo.jpg" alt="" />
    <a href="#sobre">Sobre</a>
    <a href="#sabor">Sabores e preços</a>
    <a href="#contato">Contato</a>
  </div>
  <section class="slogan-section">
    <img class="img-slogan" src="../assets/Slogan.jpg" alt="" />
    <span class="slogan">Sabor que cabe na sua mão e no seu bolso</span>
  </section>
</header>
<body>
  <section>
    <h1 id="sobre">Sobre nós</h1>
    <p class="objetivo">
      Faço bolos de pote caseiros com muito carinho e ingredientes de qualidade.
      Meu objetivo é adoçar o seu dia com praticidade e sabor.
    </p>
  </section>
  <section>
    <h1 id="sabor">Sabores e preços</h1>
    <div class="bolos">
      <div class="bolo" *ngFor="let bolo of bolos">
        <div class="card-top">
          <h3>{{ bolo.sabor }}</h3>
          <span class="preco">{{ bolo.preco | currency : "BRL" }}</span>
        </div>
        <img class="img-bolo" [src]="bolo.img" alt="" />
        <p class="descricao">
          {{ bolo.descricao }}
        </p>
      </div>
    </div>
  </section>
</body>
<div>
  <footer id="contato">
    <h2>Contato</h2>
    <span>Peça já o seu pelo WhatsApp ou Instagram</span>
    <div class="social-links">
      <a href="https://wa.me/5511994097568" target="_blank" class="whatsapp">
        <img class="wpp" src="../assets/wpp.jpg" alt="WhatsApp" />
      </a> 
      <a
        href="https://www.instagram.com/_ksccp10?igsh=MWsxMDB1cDN6bjBrbA%3D%3D&utm_source=qr"
        target="_blank"
        class="instagram"
      >
        <img class="insta" src="../assets/insta.jpg" alt="Instagram" />
      </a>
    </div>
  </footer>
</div>
