<header style="display: flex; flex-direction: column">
  <div>
    <img class="logo" src="../assets/Logo.jpg" alt="">
    <a href="#sobre">Sobre</a> 
    <a href="#sabor">Sabores e preços</a>
    <a href="#contato">Contato</a>
  </div>
  <section class="slogan-section">
    <img class="img-slogan" src="../assets/Slogan.jpg" alt="" />
    <span class="slogan">Sabor que cabe na sua mão e no seu bolso</span>
  </section>
</header>
<body>
  <section>
    <h1 id="sobre">Sobre nós</h1>
    <p class="objetivo">
      Faço bolos de pote caseiros com muito carinho e ingredientes de qualidade.
      Meu objetivo é adoçar o seu dia com praticidade e sabor.
    </p>
  </section>
  <section>
    <h1 id="sabor">Sabores e preços</h1>

    <div class="bolos">
      <div class="bolo">
        <div class="card-top">
          <h3>Brigadeiro</h3>
          <span class="preco">R$ 12,00</span>
        </div>
        <img class="img-bolo" src="../assets/Brigadeiro.jpg" alt="" />
        <p class="descricao">
          Massa de chocolate com recheio de brigadeiro caseiro, finalizado com
          granulado.
        </p>
      </div>

      <div class="bolo">
        <div class="card-top">
          <h3>Prestígio</h3>
          <span class="preco">R$ 12,00</span>
        </div>
        <img class="img-bolo" src="../assets/Prestigio.jpg" alt="" />
        <p class="descricao">
          Massa de chocolate com recheio de coco caseiro (beijinho), e decorado
          com coco ralado.
        </p>
      </div>

      <div class="bolo">
        <div class="card-top">
          <h3>Ninho</h3>
          <span class="preco">R$ 15,00</span>
        </div>
        <img class="img-bolo" src="../assets/ninho.jpg" alt="" />
        <p class="descricao">
          Massa branca de pandeló com recheio de creme de ninho, com um toque de
          ninho por cima.
        </p>
      </div>

      <div class="bolo">
        <div class="card-top">
          <h3>Ninhotella</h3>
          <span class="preco">R$ 18,00</span>
        </div>
        <img class="img-bolo" src="../assets/Nutella.jpg" alt="" />
        <p class="descricao">
          Massa de chocolate com recheio de brigadeiro de nutella e de ninho,
          finalizado com ninho e por cima.
        </p>
      </div>

      <div class="bolo">
        <div class="card-top">
          <h3>Cenoura com brigadeiro</h3>
          <span class="preco">R$ 12,00</span>
        </div>
        <img class="img-bolo" src="../assets/Cenoura.jpg" alt="" />
        <p class="descricao">
          Massa de cenoura, com recheio intercalados de brigadeiro, finalizado
          com granulado.
        </p>
      </div>

      <div class="bolo">
        <div class="card-top">
          <h3>Abacaxi</h3>
          <span class="preco">R$ 15,00</span>
        </div>
        <img class="img-bolo" src="../assets/Abacaxi.jpg" alt="" />
        <p class="descricao">
          Massa branca com recheio de creme com pedaços de abacaxi, finalizado
          com pedaços de abacaxi.
        </p>
      </div>

      <div class="bolo">
        <div class="card-top">
          <h3>Limão</h3>
          <span class="preco">R$ 12,00</span>
        </div>
        <img class="img-bolo" src="../assets/Limao.jpg" alt="" />
        <p class="descricao">
          Massa branca com recheio cremoso de limão, finalizado com raspas de
          limão.
        </p>
      </div>
    </div>
  </section>
</body>
<div>
  <footer id="contato">
    <h2>Contato</h2>
    <span>Peça já o seu pelo WhatsApp ou Instagram</span>
    <div class="social-links">
      <a href="https://wa.me/5511994097568" target="_blank" class="whatsapp">
        <img class="wpp" src="../assets/wpp.jpg" alt="WhatsApp" />
      </a>

      <a
        href="https://www.instagram.com/_ksccp10?igsh=MWsxMDB1cDN6bjBrbA%3D%3D&utm_source=qr"
        target="_blank"
        class="instagram"
      >
        <img class="insta" src="../assets/insta.jpg" alt="Instagram" />
      </a>
    </div>
  </footer>
</div>
